*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.navBar {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 5%;
  list-style: none;
  padding: 2%;
}

.calculator-title {
  margin: 5%;
}

.calculator-subtitle {
  margin: 0%;
  margin-bottom: 5%;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.occupy-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #848693;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #8f909c;
}

button {
  background-color: #e0e0e0;
  color: #000;
  border: 1px solid #d1d1d1;
}

button:hover {
  cursor: pointer;
}

.operator {
  background-color: #f4913e;
}
